<ion-view view-title="Adoc">
  <ion-content class="pading">
    <div class="list card">
	  <div class="item item-body">
	      <img class="full-image" src="img/ADOC.jpg">
	        <p>
	          Encuentranos en Aranjuez #228 Col. Topo Grande<br>
	          Escobedo N.L., C.P. 66056
	        </p>
	        <div class="botones">
	  	        <button class="button button-calm icon-left ion-android-call">
	  	  			Llámanos
	  			</button>
	  			<button class="button button-calm icon-left ion-email">
	  	  			E-mail
	  			</button>
	  		</div>
	  </div>
	  <div class="item item-body">
	      <img class="full-image" src="img/ADOC.jpg">
	        <p>
	          Encuentranos en Aranjuez #228 Col. Topo Grande<br>
	          Escobedo N.L., C.P. 66056
	        </p>
	        <div class="botones">
	  	        <button class="button button-calm icon-left ion-android-call">
	  	  			Llámanos
	  			</button>
	  			<button class="button button-calm icon-left ion-email">
	  	  			E-mail
	  			</button>
	  		</div>
	  </div>
	</div>
  </ion-content>
</ion-view>

