<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{category.name}}">
  <ion-content class="padding">
    <div class="list">

      <a class="item item-thumbnail-left" href="#/tab/detail">
        <img ng-src="{{category.face}}">
          <h2>{{category.name}}</h2>
          <p>{{ category.lastText}}</p>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img ng-src="{{category.face}}">
          <h2>{{category.name}}</h2>
          <p>{{ category.lastText}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>