<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{category.name}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" ng-src="{{category.face}}">
          <h2 class="center">{{category.bussinessName}}</h2>
            <p>{{ category.lastText}}</p>
            <p>Web: {{ category.web }}</p>
            <p>Email: {{ category.mail }}</p>
            <p>Teléfono: {{ category.tel }}</p>
      </div>
    </div>
  </ion-content>
</ion-view>