<ion-view style="font-size: 30px;" view-title="Contacto">
  <ion-content>
  	<div style="font-size: 23px;" class="padding">
  		Por favor llene los siguientes datos para ponerse en contacto con nosotros.
  	</div>
  	<form name="contact-form" novalidate>
	    <div class="list">
	    	<label class="item item-input">
	    		<input type="text" placeholder="Nombre Completo" ng-model="name">
	    	</label>
	    	<label class="item item-input">
	    		<input type="email" placeholder="Email">
	    	</label>
	    	<label class="item item-input">
	    		<input type="tel" placeholder="Teléfono">
	    	</label>
	    	<label class="item item-input">
	    		<textarea placeholder="Comentarios"></textarea
	    	</label>
	    </div>
	    <div class="padding">
	    	<button type="submit" class="button button-block button-calm" ng-click="submit(name)">Enviar</button>
	    </div>
	</form>
  </ion-content>
</ion-view>
