<ion-view view-title="Contacto">
  <ion-content>
  	<div class="padding">
  		Por favor llene los siguientes datos para ponerse en contacto con nosotros
  	</div>
    <div class="list">
    	<label class="item item-input">
    		<input type="text" placeholder="Nombre Completo">
    	</label>
    	<label class="item item-input">
    		<input type="email" placeholder="Email">
    	</label>
    	<label class="item item-input">
    		<input type="tel" placeholder="Teléfono">
    	</label>
    	<label class="item item-input">
    		<textarea placeholder="Comentarios"></textarea
    	</label>
    </div>
    <div class="padding">
    	<button class="button button-block button-calm">Enviar</button>
    </div>
  </ion-content>
</ion-view>
