<ion-view view-title="Zonas">
  <ion-content>
  	<div class="list">
  		<a class="item item-icon-right" href="#/tab/magazzine">
  			Zona Sendero
  			<i class="icon icon-right ion-chevron-right"></i>
  		</a>
  		<a class="item item-icon-right" href="#">
  			Zona Escobedo 1
  			<i class="icon icon-right ion-chevron-right"></i>
  		</a>
  		<a class="item item-icon-right" href="#">
  			Zona San Nicolás 1
  			<i class="icon icon-right ion-chevron-right"></i>
  		</a>
  		<a class="item item-icon-right" href="#">
  			Zona San Nicolás 2
  			<i class="icon icon-right ion-chevron-right"></i>
  		</a>
  	</div>
  </ion-content>
</ion-view>