.logo{
	margin-top: 80px; 
	text-align: center;
	background-color: #f3f3f3;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	margin-bottom: 30px;
}

.buttons {
	text-align: center;
	margin-top: 50px;
	padding: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.swiper-container {
    width: 800px;
    height: 500px;
}             
